body{
    background-image: url(./image/배경_코드.PNG);
    height: 100vh;
    width: 100vh;
    padding: 0;
    margin: 0;
}
img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid rgb(36, 15, 82);
}